.MMM-Celebrations .wrapper {
  #width: 400px;
}

.MMM-Celebrations .cday {
  margin: 10px;
}

.MMM-Celebrations .descr {
  margin-left: 30px;
  text-align: justify;
}

.MMM-Celebrations .footer {
  text-align: right;
  color: #888;
}

